Repository AlicanteFrontend/vueday.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc:

{
  "*.js": ["eslint --fix", "git add"],
  "*.{css,scss}": ["stylelint --fix", "git add"],
  "*.{js,html,css,scss,json,md,yml,yaml,md}": ["prettier --write", "git add"]
}

Add Alex Jover talk description
  data/constants.json
Due: prettier --write

Add Alex Jover talk description (#34)
  data/constants.json
Due: prettier --write

Update constants.json
  data/constants.json
Due: prettier --write

Update constants.json (#35)
  data/constants.json
Due: prettier --write

Add Square1 sponsor
  data/constants.json
  src/static/sponsors/square1.png
Due: prettier --write

Add Square1 sponsor (#36)
  data/constants.json
  src/static/sponsors/square1.png
Due: prettier --write

Add Webempresa sponsor
  data/constants.json
  src/static/sponsors/webempresa.png
Due: prettier --write

Add Webempresa sponsor (#37)
  data/constants.json
  src/static/sponsors/webempresa.png
Due: prettier --write

Add DevCenter and Egghead sponsors
  data/constants.json
  src/scss/06-layout/_sponsors.scss
  src/static/sponsors/devcenter.png
  src/static/sponsors/egghead.png
Due: stylelint --fix, prettier --write

Add DevCenter and Egghead sponsors (#38)
  data/constants.json
  src/scss/06-layout/_sponsors.scss
  src/static/sponsors/devcenter.png
  src/static/sponsors/egghead.png
Due: stylelint --fix, prettier --write

Add Holaluz and Plain Concepts collaborators
  data/constants.json
  src/static/sponsors/egghead.png
  src/static/sponsors/egghead.svg
  src/static/sponsors/holaluz.svg
  src/static/sponsors/plain-concepts.png
  src/static/sponsors/spotahome.png
  src/static/sponsors/spotahome.svg
Due: prettier --write

Add Holaluz and Plain Concepts collaborators (#39)
  data/constants.json
  src/static/sponsors/egghead.png
  src/static/sponsors/egghead.svg
  src/static/sponsors/holaluz.svg
  src/static/sponsors/plain-concepts.png
  src/static/sponsors/spotahome.png
  src/static/sponsors/spotahome.svg
Due: prettier --write

Add Yamuve collaborator
  data/constants.json
  src/static/sponsors/yamuve.svg
Due: prettier --write

Add Yamuve collaborator (#40)
  data/constants.json
  src/static/sponsors/yamuve.svg
Due: prettier --write

Replace Yamuve logo
  src/static/sponsors/yamuve.svg
Due: none

Yamuve alternative logo (#41)
  src/static/sponsors/yamuve.svg
Due: none

Add GTT sponsor
  data/constants.json
  src/scss/06-layout/_sponsors.scss
  src/static/sponsors/gtt.png
Due: stylelint --fix, prettier --write

Add GTT sponsor (#42)
  data/constants.json
  src/scss/06-layout/_sponsors.scss
  src/static/sponsors/gtt.png
Due: stylelint --fix, prettier --write

Replace WebEmpresa by CiberProtector
  data/constants.json
  src/static/sponsors/ciberprotector.png
Due: prettier --write

Replace WebEmpresa by CiberProtector (#43)
  data/constants.json
  src/static/sponsors/ciberprotector.png
Due: prettier --write

Sort talks
  data/constants.json
Due: prettier --write

Sort talks (#44)
  data/constants.json
Due: prettier --write

fix: links in header when on CoC
  src/html/partials/_header.njk
Due: none

fix: links in header when on CoC (#45)
  src/html/partials/_header.njk
Due: none

Live straming page
  data/constants.json
  src/html/partials/_header.njk
  src/html/partials/_tickets.njk
  src/html/templates/default.njk
  src/live.njk
  src/scss/01-settings/_colors.scss
  src/scss/03-generic/_custom-properties.scss
  src/scss/06-layout/_credits.scss
  src/scss/06-layout/_header.scss
  src/scss/06-layout/_live.scss
  src/scss/main.scss
  yarn.lock
Due: stylelint --fix, prettier --write

Live streaming page (#46)
  data/constants.json
  src/html/partials/_header.njk
  src/html/partials/_tickets.njk
  src/html/templates/default.njk
  src/live.njk
  src/scss/01-settings/_colors.scss
  src/scss/03-generic/_custom-properties.scss
  src/scss/06-layout/_credits.scss
  src/scss/06-layout/_header.scss
  src/scss/06-layout/_live.scss
  src/scss/main.scss
  yarn.lock
Due: stylelint --fix, prettier --write

Change live stream page background color
  src/scss/06-layout/_live.scss
Due: stylelint --fix, prettier --write

Change live stream page background color (#47)
  src/scss/06-layout/_live.scss
Due: stylelint --fix, prettier --write

Add force parameter to live streaming
  src/live.njk
  src/scss/06-layout/_live.scss
Due: stylelint --fix, prettier --write

Add force parameter to live streaming (#48)
  src/live.njk
  src/scss/06-layout/_live.scss
Due: stylelint --fix, prettier --write

Fix player
  src/live.njk
Due: none

Fix player (#49)
  src/live.njk
Due: none

Redirect rules for live streaming page
  _redirects
Due: none

Add rule
  _redirects
Due: none

SSL redirects (#50)
  _redirects
Due: none

Add rules
  _redirects
Due: none

Redirect rules (#51)
  _redirects
Due: none

Switch livestream url to external one
  _redirects
  data/constants.json
  src/html/partials/_header.njk
  src/html/partials/_tickets.njk
  src/live.njk
  src/scss/main.scss
Due: stylelint --fix, prettier --write

Switch livestream url to external one (#52)
  _redirects
  data/constants.json
  src/html/partials/_header.njk
  src/html/partials/_tickets.njk
  src/live.njk
  src/scss/main.scss
Due: stylelint --fix, prettier --write
