Repository AlicanteFrontend/vueday.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc:

{
  "*.js": ["eslint --fix", "git add"],
  "*.{css,scss}": ["stylelint --fix", "git add"],
  "*.{js,html,css,scss,json,md,yml,yaml,md}": ["prettier --write", "git add"]
}

Sponsors :)
  data/constants.json
  src/html/partials/_header.njk
  src/html/partials/_sponsor.njk
  src/html/partials/_sponsors.njk
  src/html/partials/_sponsors_group.njk
  src/index.njk
  src/scss/03-generic/_custom-properties.scss
  src/scss/04-elements/_elements.scss
  src/scss/05-components/_button.scss
  src/scss/05-components/_link-highlight.scss
  src/scss/05-components/_subtitle.scss
  src/scss/06-layout/_credits.scss
  src/scss/06-layout/_footer.scss
  src/scss/06-layout/_header.scss
  src/scss/06-layout/_hero.scss
  src/scss/06-layout/_speakers.scss
  src/scss/06-layout/_sponsors.scss
  src/scss/06-layout/_tickets.scss
  src/scss/06-layout/_venue.scss
  src/scss/main.scss
  src/static/sponsors/coosto.png
  src/static/sponsors/eventbrite.png
  src/static/sponsors/everis.png
  src/static/sponsors/mindden.png
  src/static/sponsors/nitsnets.png
  src/static/sponsors/vuejobs.png
Due: stylelint --fix, prettier --write

Remove faq question
  src/html/partials/_faq.njk
Due: none

Improve faq
  src/html/partials/_faq.njk
Due: none

Remove margin in last sponsor group
  src/html/partials/_sponsors.njk
  src/scss/06-layout/_sponsors.scss
  src/scss/99-utilities/_spacing.scss
Due: stylelint --fix, prettier --write

Add faq
  src/html/partials/_faq.njk
Due: none

Speakers :) (#22)
  .htmlnanorc
  data/constants.json
  src/code-of-conduct.njk
  src/html/icons/external-link.svg
  src/html/icons/linkedin.svg
  src/html/icons/map-marker.svg
  src/html/icons/twitter.svg
  src/html/icons/youtube.svg
  src/html/macros.njk
  src/html/partials/_faq.njk
  src/html/partials/_footer.njk
  src/html/partials/_header.njk
  src/html/partials/_hero.njk
  src/html/partials/_speaker.njk
  src/html/partials/_speakers.njk
  src/html/partials/_svg-sprite.njk
  src/html/partials/_tickets.njk
  src/html/partials/_venue.njk
  src/html/templates/default.njk
  src/index.njk
  src/scss/01-settings/_breakpoints.scss
  src/scss/03-generic/_custom-properties.scss
  src/scss/05-components/_subtitle.scss
  src/scss/06-layout/_harbor.scss
  src/scss/06-layout/_speakers.scss
  src/scss/main.scss
  src/static/speakers/alex-jover.jpg
  src/static/speakers/alexandre-chopin.jpg
  src/static/speakers/debbie-obrien.jpg
  src/static/speakers/eduardo-san-martin-morote.jpg
  src/static/speakers/marina-aisa.jpg
  src/static/speakers/quique-fernandez-guerra.jpg
  src/static/speakers/ruben-valseca.jpg
  src/static/speakers/sebastien-chopin.jpg
Due: stylelint --fix, prettier --write

Fix typo
  src/html/partials/_sponsors.njk
Due: none

Sponsors (#23)
  data/constants.json
  src/html/partials/_faq.njk
  src/html/partials/_header.njk
  src/html/partials/_sponsor.njk
  src/html/partials/_sponsors.njk
  src/html/partials/_sponsors_group.njk
  src/index.njk
  src/scss/03-generic/_custom-properties.scss
  src/scss/04-elements/_elements.scss
  src/scss/05-components/_button.scss
  src/scss/05-components/_link-highlight.scss
  src/scss/05-components/_subtitle.scss
  src/scss/06-layout/_credits.scss
  src/scss/06-layout/_footer.scss
  src/scss/06-layout/_header.scss
  src/scss/06-layout/_hero.scss
  src/scss/06-layout/_speakers.scss
  src/scss/06-layout/_sponsors.scss
  src/scss/06-layout/_tickets.scss
  src/scss/06-layout/_venue.scss
  src/scss/99-utilities/_spacing.scss
  src/scss/main.scss
  src/static/sponsors/coosto.png
  src/static/sponsors/eventbrite.png
  src/static/sponsors/everis.png
  src/static/sponsors/mindden.png
  src/static/sponsors/nitsnets.png
  src/static/sponsors/vuejobs.png
Due: stylelint --fix, prettier --write

Fix font
  src/html/templates/default.njk
Due: none

Fix font (#24)
  src/html/templates/default.njk
Due: none

Update Alex Jover bio.
  data/constants.json
Due: prettier --write

Update Alex Jover bio. (#25)
  data/constants.json
Due: prettier --write

Improve constants file
  data/constants.json
  src/html/partials/_faq.njk
  src/html/partials/_header.njk
  src/html/partials/_schedule.njk
  src/html/partials/_schedule_slot.njk
  src/html/partials/_speaker.njk
  src/html/partials/_speakers.njk
  src/html/partials/_sponsor.njk
  src/html/partials/_sponsors_group.njk
  src/index.njk
  src/scss/06-layout/_schedule.scss
  src/scss/main.scss
Due: stylelint --fix, prettier --write

Optimize font loading
  src/html/templates/default.njk
Due: none

Optimize images
  src/static/speakers/alex-jover.jpg
  src/static/speakers/debbie-obrien.jpg
Due: none

Improve font loading (#26)
  src/html/templates/default.njk
  src/static/speakers/alex-jover.jpg
  src/static/speakers/debbie-obrien.jpg
Due: none

Remove some FAQs
  src/html/partials/_faq.njk
Due: none

Remove some FAQs (#27)
  src/html/partials/_faq.njk
Due: none

Remove --no-cache option in watcher
  package.json
Due: prettier --write

Schedule layout
  data/constants.json
  package.json
  src/html/partials/_schedule_slot.njk
  src/html/templates/default.njk
  src/js/main.js
  src/scss/03-generic/_custom-properties.scss
  src/scss/04-elements/_elements.scss
  src/scss/05-components/_subtitle.scss
  src/scss/06-layout/_hero.scss
  src/scss/06-layout/_schedule.scss
  src/scss/06-layout/_speakers.scss
  src/scss/06-layout/_sponsors.scss
  src/scss/06-layout/_tickets.scss
Due: eslint --fix, stylelint --fix, prettier --write

Remove margin
  src/scss/06-layout/_schedule.scss
Due: stylelint --fix, prettier --write

Remove lint:js script from lint
  package.json
Due: prettier --write

Update _faq.njk
  src/html/partials/_faq.njk
Due: none

Update _faq.njk (#29)
  src/html/partials/_faq.njk
Due: none

New schedule
  data/constants.json
Due: prettier --write

Add real talks
  data/constants.json
  src/html/partials/_schedule_slot.njk
Due: prettier --write

Remove blank line
  src/html/partials/_schedule_slot.njk
Due: none

Enable tickets link!
  data/constants.json
Due: prettier --write

Real tickets url
  data/constants.json
Due: prettier --write

Enable tickets link! (#30)
  data/constants.json
Due: prettier --write

Add Spotahome sponsor
  data/constants.json
  src/static/sponsors/spotahome.png
Due: prettier --write

Add Spotahome sponsor (#31)
  data/constants.json
  src/static/sponsors/spotahome.png
Due: prettier --write

Schedule with final slots
  data/constants.json
  src/html/partials/_schedule_slot.njk
  src/scss/06-layout/_schedule.scss
  src/scss/06-layout/_speakers.scss
Due: stylelint --fix, prettier --write

Add descriptions
  data/constants.json
Due: prettier --write

Add more descriptions
  data/constants.json
Due: prettier --write

Add the last description?
  data/constants.json
Due: prettier --write

Re-arrange schedule
  data/constants.json
Due: prettier --write

Schedule (#28)
  data/constants.json
  package.json
  src/html/partials/_faq.njk
  src/html/partials/_header.njk
  src/html/partials/_schedule.njk
  src/html/partials/_schedule_slot.njk
  src/html/partials/_speaker.njk
  src/html/partials/_speakers.njk
  src/html/partials/_sponsor.njk
  src/html/partials/_sponsors_group.njk
  src/html/templates/default.njk
  src/index.njk
  src/js/main.js
  src/scss/03-generic/_custom-properties.scss
  src/scss/04-elements/_elements.scss
  src/scss/05-components/_subtitle.scss
  src/scss/06-layout/_hero.scss
  src/scss/06-layout/_schedule.scss
  src/scss/06-layout/_speakers.scss
  src/scss/06-layout/_sponsors.scss
  src/scss/06-layout/_tickets.scss
  src/scss/main.scss
Due: eslint --fix, stylelint --fix, prettier --write

Spotahome sponsor data structure fixed
  data/constants.json
Due: prettier --write

Spotahome sponsor data structure fixed (#33)
  data/constants.json
Due: prettier --write
