Repository AlicanteFrontend/vueday.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

Add OG meta tags
  src/html/templates/default.njk
  src/static/vue-day.png
Due: none

Fix OG image extension
  src/html/templates/default.njk
Due: none

Add OG meta tags (#11)
  src/html/templates/default.njk
  src/static/vue-day.png
Due: none

New OG image
  src/html/templates/default.njk
  src/static/vue-day.jpg
  src/static/vue-day.png
Due: none

New OG image (#12)
  src/html/templates/default.njk
  src/static/vue-day.jpg
  src/static/vue-day.png
Due: none

Improve meta tags
  src/html/templates/default.njk
  src/static/vue-day.jpg
Due: none

New Twitter image
  src/html/templates/default.njk
  src/static/vue-day-twitter.jpg
Due: none

New og image (#13)
  src/html/templates/default.njk
  src/static/vue-day-twitter.jpg
  src/static/vue-day.jpg
Due: none

Add Netlify badge
  README.md
Due: prettier --write

Change copy
  src/html/partials/_hero.njk
  src/static/hero.jpg
Due: none

Change copy (#14)
  src/html/partials/_hero.njk
  src/static/hero.jpg
Due: none

fix: typo
  src/html/partials/_tickets.njk
Due: none

Remove unicodes
  src/scss/04-elements/_elements.scss
  src/scss/06-layout/_header.scss
Due: stylelint --fix, prettier --write

Remove unicodes (#16)
  src/scss/04-elements/_elements.scss
  src/scss/06-layout/_header.scss
Due: stylelint --fix, prettier --write

fix: typo (#15)
  src/html/partials/_tickets.njk
Due: none

Add cursor pointer to summary elements
  src/scss/04-elements/_elements.scss
Due: stylelint --fix, prettier --write

Add cursor pointer to summary elements (#17)
  src/scss/04-elements/_elements.scss
Due: stylelint --fix, prettier --write

Sorry :(
  src/index.njk
Due: none

Sorry :( (#18)
  src/index.njk
Due: none

Update code-of-conduct.njk
  src/code-of-conduct.njk
Due: none

Visual improvements
  src/code-of-conduct.njk
  src/scss/03-generic/_reset.scss
  src/scss/04-elements/_elements.scss
  src/scss/06-layout/_coc.scss
Due: stylelint --fix, prettier --write

Local taxi phone number added
  src/code-of-conduct.njk
Due: none

Update Code of Conduct (#19)
  src/code-of-conduct.njk
  src/scss/03-generic/_reset.scss
  src/scss/04-elements/_elements.scss
  src/scss/06-layout/_coc.scss
Due: stylelint --fix, prettier --write

Add link to contributors
  src/html/partials/_credits.njk
Due: none

Update README
  README.md
Due: prettier --write

Contributors link (#20)
  README.md
  src/html/partials/_credits.njk
Due: prettier --write

Speakers section boilerplate
  data/constants.json
  src/code-of-conduct.njk
  src/html/partials/_hero.njk
  src/html/partials/_speaker.njk
  src/html/partials/_speakers.njk
  src/html/partials/_tickets.njk
  src/index.njk
  src/static/speakers/speaker-1.png
  src/static/speakers/speaker-2.png
  src/static/speakers/speaker-3.png
  src/static/speakers/speaker-4.png
  src/static/speakers/speaker-5.png
  src/static/speakers/speaker-6.png
  src/static/speakers/speaker-7.png
  src/static/speakers/speaker-8.png
Due: prettier --write

Remove unused OG meta tags and fix webmanifest
  src/html/templates/default.njk
  src/site.webmanifest
  static/vue-day.jpg
Due: none

Remove unused OG meta tags and fix webmanifest (#21)
  src/html/templates/default.njk
  src/site.webmanifest
  static/vue-day.jpg
Due: none

SVG sprite
  data/constants.json
  src/html/icons/external-link.svg
  src/html/icons/linkedin.svg
  src/html/icons/map-marker.svg
  src/html/icons/twitter.svg
  src/html/icons/youtube.svg
  src/html/macros.njk
  src/html/partials/_footer.njk
  src/html/partials/_speaker.njk
  src/html/partials/_speakers.njk
  src/html/partials/_svg-sprite.njk
  src/html/partials/_venue.njk
  src/html/templates/default.njk
  src/scss/06-layout/_speakers.scss
  src/scss/main.scss
Due: stylelint --fix, prettier --write

Add speakers descriptions :)
  data/constants.json
  src/html/macros.njk
  src/html/partials/_faq.njk
  src/html/partials/_header.njk
  src/html/partials/_speaker.njk
  src/html/partials/_speakers.njk
  src/html/partials/_svg-sprite.njk
  src/html/templates/default.njk
  src/scss/01-settings/_breakpoints.scss
  src/scss/03-generic/_custom-properties.scss
  src/scss/06-layout/_speakers.scss
  src/static/speakers/alex-jover.jpg
  src/static/speakers/alexandre-chopin.jpg
  src/static/speakers/debbie-obrien.jpg
  src/static/speakers/eduardo-san-martin-morote.jpg
  src/static/speakers/marina-aisa.jpg
  src/static/speakers/originals/alex-jover.jpg
  src/static/speakers/originals/alexandre-chopin.jpg
  src/static/speakers/originals/debbie-obrien.jpg
  src/static/speakers/originals/eduardo-san-martin-morote.jpg
  src/static/speakers/originals/marina-aisa.jpg
  src/static/speakers/originals/quique-fernandez-guerra.jpg
  src/static/speakers/originals/ruben-valseca.jpg
  src/static/speakers/originals/sebastien-chopin.jpg
  src/static/speakers/quique-fernandez-guerra.jpg
  src/static/speakers/ruben-valseca.jpg
  src/static/speakers/sebastien-chopin.jpg
  src/static/speakers/speaker-1.png
  src/static/speakers/speaker-2.png
  src/static/speakers/speaker-3.png
  src/static/speakers/speaker-4.png
  src/static/speakers/speaker-5.png
  src/static/speakers/speaker-6.png
  src/static/speakers/speaker-7.png
  src/static/speakers/speaker-8.png
Due: stylelint --fix, prettier --write

Remove unused files
  src/static/speakers/originals/alex-jover.jpg
  src/static/speakers/originals/alexandre-chopin.jpg
  src/static/speakers/originals/debbie-obrien.jpg
  src/static/speakers/originals/eduardo-san-martin-morote.jpg
  src/static/speakers/originals/marina-aisa.jpg
  src/static/speakers/originals/quique-fernandez-guerra.jpg
  src/static/speakers/originals/ruben-valseca.jpg
  src/static/speakers/originals/sebastien-chopin.jpg
Due: none

Fix SVG minification issue
  src/html/macros.njk
Due: none

Change version constant
  data/constants.json
  src/html/partials/_header.njk
  src/html/partials/_tickets.njk
Due: prettier --write

Deactivate sponsors link
  src/html/partials/_header.njk
Due: none

Fix SVG minification issue
  src/html/macros.njk
  src/html/partials/_svg-sprite.njk
Due: none

Add htmlnano config file
  .htmlnanorc
Due: none

Add border bottom to harbor section
  src/scss/06-layout/_harbor.scss
Due: stylelint --fix, prettier --write

Add border bottom to speakers section
  src/html/partials/_speakers.njk
Due: none

Change subheader styles
  data/constants.json
  src/html/partials/_faq.njk
  src/html/partials/_speaker.njk
  src/html/partials/_speakers.njk
  src/scss/05-components/_subtitle.scss
  src/scss/main.scss
Due: stylelint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{js,html,css,scss,json,md,yml,yaml,md}
